<%= simple_form_for @article, :html => { :class => 'form-horizontal article_form' } do |f| %>
    <%= f.input :title, input_html: { class: 'form-control'}, placeholder: 'Title' %>
    <div class='max_height'></div>
    <%= f.input :body, input_html: { class: 'form-control', rows: '4' }, label: 'Content'%>
    <div class='max_height'></div>
    <%= f.input :author, input_html: { class: 'form-control'} %>
    <div class='max_height'></div>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn btn-default' %>
<% end %>
