<% @articles.each do |article| %>
  <h3><%= article.title %></h3>(By: <%= article.author %>)<br>
  <%= truncate(article.body,length: 50) %>
    <%= link_to 'show more', article %>
<% end %>
<div class='max_height'></div>
<%= will_paginate @articles %>
