<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
<div class='max_height'></div>
<p title='Title'>
  <%= @article.title %>  (By <strong><%= @article.author %></strong>)
</p>

<p  title='Content'>
  <%= @article.body %>
</p>

<div id="comment-form">
  <%= render 'comments/form', comment: @article.comments.build, article: @article %>
</div>

<div id="comments-conainer">
  <%= nested_comments(@comments) unless @comments.nil? %>
</div>
